.container {
	position: relative;
	margin: 0 auto;
	width: 400px;
	overflow: hidden;
}

#heading {
	position: relative;
	font-size: 18px;
	font-weight: 200;
	text-shadow: 0 -1px 0 #eee;
	margin: 20px auto 20px auto;
	color: #111;
	text-align: center;
}
.compass {
	width: 400px;
	height: 400px;
}
.rose {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
	height: 240px;
}